<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <h3 class="text-center">My Account</h3>

    <div class="row">
        <form action="#" th:action="@{/myAccount}" th:object="${userDto}" method="post" class="form-horizontal"
              id="userFormContainer">
            <div th:include="fragments/userForm :: userForm"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-success pull-right" id="saveButton">Save
                </button>
            </div>

        </form>
        <div class="col-md-4 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" id="editButton">Edit
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">Back</button>
        </div>
    </div>
</div>

</body>
</html>