<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/main.css" th:href="@{/css/main.css}"/>

    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body id="#homepage">
<div th:include="fragments/header :: header"></div>

<h2>Welcome</h2>
<div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th style="visibility : hidden"></th>
            <th>Game title</th>
            <th></th>
            <th>Price</th>
            <th>In Stock</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody th:each="gameDto:${gameDtos}">
        <tr class="text-center">
            <td style="visibility : hidden" th:text="${gameDto.id}" class="gameId"></td>
            <td th:text="${gameDto.name}"></td>
            <td id="tableImage" class = "imageContainer">
                <div>
                    <img class="img-off" th:src="${gameDto.imgPath}"/>
                    <button style="background : url(images/addToCart1.png)" class = "img-on btnAdd">
                    </button>
                </div>
            </td>
            <td th:text="${gameDto.price}"></td>
            <td>
                <input type="checkbox" th:checked="${gameDto.inStock}" disabled="true"/>
            </td>
            <td th:text="${gameDto.genre}"></td>
        </tr>
        </tbody>
    </table>

    <script th:inline="javascript">
    /*<![CDATA[*/
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    /*]]>*/
    </script>

    <script th:inline="javascript">
    /*<![CDATA[*/
        $('.btnAdd').click(function saveData() {
            var item=$(this).closest("tr").find('td.gameId')[0].innerHTML;
            var itemList = getCookie("gameIds");
            itemList += item + ", ";
            setCookie("gameIds", itemList, 2);

        });

     /*]]>*/
    </script>

    <script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
    if (localStorage.getItem("hasCodeRunBefore") === null) {
            $(document).ready(function() {
                    document.cookie="gameIds=";
             });
            localStorage.setItem("hasCodeRunBefore", true);
        }
    }

    /*]]>*/
    </script>

</div>
</body>
</html>