<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/main.css" th:href="@{/css/main.css}"/>

    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<h2>Your Cart</h2>
<div class="container table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th style="visibility : hidden"></th>
            <th> Game title</th>
            <th> Pcs</th>
            <th> Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="cartDto" th:each="game:${cartDto.games}">

        <tr>
            <td class="gameId" style="visibility : hidden" th:text="${game.key.id}"></td>
            <td th:text="${game.key.name}"></td>
            <td th:text="${game.value}"></td>
            <td class="gamePrice" th:text="${game.key.price}"></td>
            <td>
                <button class="btnRemove" type="submit" name="submit" value="value">Remove</button>

                <!--<a th:href="@{/myCart/edit/{id}(id=${game.id})}" class="col-md-4 link-button"></a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <div>
        <p id="finalPrice">Final price: </p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    /*]]>*/



</script>

<script th:inline="javascript">
    /*<![CDATA[*/
        $('.btnRemove').click(function saveData() {
            var item=$(this).closest("tr").find('td.gameId')[0].innerHTML;
            var itemList = getCookie("gameIds");
            var gameIdList = itemList.split(',');
            var newGamesList = "";

            for(var i = 0; i < gameIdList.length; i++) {
                var id = gameIdList[i];
                if(id != '') {
                    if(String(id) != item) newGamesList += id + ",";
                }
            }

            setCookie("gameIds", newGamesList, 2);
            window.location.reload();
        });

     /*]]>*/

</script>

<script th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
        var gamePrices = document.getElementsByClassName("gamePrice");
        console.log(gamePrices);
    });
 /*]]>*/
</script>

</body>
</html>